<<<<<<< HEAD
<h2>New Author</h2>
<form action="/books" method="POST" enctype="multipart/form-data">
    <%- include('_form_field') %>
    <a href="/books">Cancel</a>
    <button type="submit">Create</button>
=======
<h2>New Author</h2>
<form action="/books" method="POST" enctype="multipart/form-data">
    <%- include('_form_field') %>
    <a href="/books">Cancel</a>
    <button type="submit">Create</button>
>>>>>>> 911c6d590edf8ea865ee411d5134878ae014fbb7
</form>