<header>
    <nav>
        <a href="/">Mybrary</a>
        <ul>
            <il><a href="/authors">Authors</a></il>
            <il><a href="/authors/new">Add an Author</a></il>
            <il><a href="/books">Books</a></il>
            <il><a href="/books/new">Add a book</a></il>
        </ul>
    </nav>
</header>