<header>
    <nav>
        <a href="/">Mybrary</a>
        <ul>
            <il><a href="/authors">Authors</a></il>
            <il><a href="/authors/new">Add an Author </a></il>
        </ul>
    </nav>
</header>