<<<<<<< HEAD
<header>
    <nav>
        <a href="/">Mybrary</a>
        <ul>
            <il><a href="/authors">Authors</a></il>
            <il><a href="/authors/new">Add an Author</a></il>
            <il><a href="/books">Books</a></il>
            <il><a href="/books/new">Add a book</a></il>
        </ul>
    </nav>
=======
<header>
    <nav>
        <a href="/">Mybrary</a>
        <ul>
            <il><a href="/authors">Authors</a></il>
            <il><a href="/authors/new">Add an Author</a></il>
            <il><a href="/books">Books</a></il>
            <il><a href="/books/new">Add a book</a></il>
        </ul>
    </nav>
>>>>>>> 911c6d590edf8ea865ee411d5134878ae014fbb7
</header>