<<<<<<< HEAD
<h2>Recently Added</h2>
<div>
    <% books.forEach(book=>{ %>
        <img height="150" width="100" src="<%= book.coverImagePath%>" alt="">
    <% }) %> 
=======
<h2>Recently Added</h2>
<div>
    <% books.forEach(book=>{ %>
        <img height="150" width="100" src="<%= book.coverImagePath%>" alt="">
    <% }) %> 
>>>>>>> 911c6d590edf8ea865ee411d5134878ae014fbb7
</div>